{% extends 'partials/base.html' %}
{% block title %}Members Page {% endblock%}

{% block content %}
{% include 'partials/topnav.html' %}
<!-- Staff Table Section -->
<div class="container">
  <div class="row my-4">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
    <div class="card">
      <div class="card-header bg-info text-white">
        Profile Page
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
           <hr>
           <table class="table bg-white table-borderless">
            <tbody>
              <tr>
                <th scope="row">Name</th>
                <td>{{admins.username}}</td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td>{{admins.email}}</td>
              </tr>
              <tr>
                <th scope="row">Mobile No</th>
                <td>{{admins.profile.phone}}</td>
              </tr>
              <tr>
                <th scope="row">Address</th>
                <td>{{admins.profile.address}}</td>
              </tr>

            </tbody>
          </table>
          </div>
          <div class="col-md-4">
            <img class="img-thumbnail" src="{{admins.profile.image.url}}" alt="">
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>

<!-- End Staff Table -->
{% endblock%}
