{% extends 'partials/base.html'%}
{% block title %} Password Reset Complete {% endblock%}
{% load crispy_forms_tags %}

{% block content%}
<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3">
      <div class="border bg-white p-3">
        <h3>Logout Page</h3>
        <hr>
        <div class="alert alert-info">
          <h4>An email with a link to reset password has been sent to your email address</h4>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock%}
